$main-color: #000;
$main-font: Open Sans;
$main-font-color: #fff;
$center: center;
@media only screen and (min-width: 600px) {
	.article-mobile{
		width:33%;
	}
	.vertical-direction {
		flex-direction: row;
	}
	.flex-wrap{
	flex-wrap: wrap;
	}
div{
	
	div{
		display:flex;
		flex-direction: row;
		flex-wrap:wrap;
			img{
				width: 100%;
				height: 100%}
				}
}
	.logo{
	padding-bottom: 2rem;
	}
	}
@media only screen and (max-width: 600px) {
	.article-mobile{
		width:100%;
		}
	.vertical-direction {
		flex-direction: column;
	}
	.flex-wrap{
		flex-wrap: nowrap;
		}
div{
	div{
	display:flex;
		flex-direction: row;
		flex-wrap:wrap;
		img{
			width: 100%;
			height:100%
	}
		
	}}}
@media only screen and (min-width: 1000px) {
	.article-mobile{
		width:25%;
}}
