$main-color: #000;
$main-font: Open Sans;
$main-font-color: #fff;
$center: center;

body {
	background-color: $main-color;
}

.header img{
	padding-bottom:2rem;
}
h1 {
	font-family: $main-font;
	color: $main-font-color;
	font-size: .5rem;
	padding-top: 3rem;
}
h4 {
	font-family: $main-font;
	color: grey;
	font-size: 1rem;
	padding: 1rem;
}
.flex {
	display: flex;
}
.flex-center{
	justify-content: $center;
	align-items: $center;
}
.align-bottom {
	align-items: flex-end;
}
.choose{
	padding:1rem;
}

div{
	div{
		div{ position:relative;
		}
		a{
				text-decoration: none;
				width:100%;	
				position:absolute;	
				bottom:0;	
		}}
	}
.abstract{
		font-family: $main-font;
		font-weight:lighter;
		color: $main-font-color;
		background: linear-gradient( rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, .5)20%);
		font-size: .8em;
		display: flex;
		align-items: flex-end;
		padding:.5rem;
		line-height: 1rem;
}
